* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.span1 {
    border: 2px solid black;
    border-radius: 100%;
    margin-left: 100px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 100%;
    padding: 20px 20px;
    background-color: blue;
    background-size: cover;
    margin-right: 20px;
    margin-top: 500px;
}